[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Game
Terminal=False
Exec=/usr/bin/doomlauncher
Name=Doomlauncher
Icon=/etc/doomlauncher/doomlauncher.svg
